<footer class="site-footer">
    <div class="container site-footer--container">
        <nav class="site-footer-nav">
            <h3 class="site-footer-nav-title">Jobs</h3>
            <ul class="site-footer-links">
                <li class="site-footer-links-item"><a class="site-footer-link" href="/jobs">Software Engineer</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="/jobs">Frontend Engineer</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="/jobs">Codeable Graduate</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="/jobs">Backend Engineer</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="/jobs">Meme Master</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link site-footer-link--last" href="/jobs">University Dropouts</a></li>
            </ul>
        </nav>
        <nav>
            <h3 class="site-footer-nav-title">Company</h3>
            <ul class="site-footer-links">
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Blog</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Carreers</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Privacy</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link site-footer-link--last" href="#">About</a></li>
            </ul>
        </nav>
        <nav>
            <h3 class="site-footer-nav-title">Support</h3>
            <ul class="site-footer-links">
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Docummentation</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Security</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Mobility</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link site-footer-link--last" href="/faq">FAQs</a></li>
            </ul>
        </nav>
        <nav>
            <h3 class="site-footer-nav-title">Legal</h3>
            <ul class="site-footer-links">
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Terms of Service</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Privacy Policy</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link" href="#">Cookie Information</a></li>
                <li class="site-footer-links-item"><a class="site-footer-link site-footer-link--last" href="#">GDPR Commitment</a></li>
            </ul>
        </nav>
    </div>
    <p class="site-footer-copyright">©2020 Get That Job</p>
</footer>