<header class="site-header">
    <nav class="site-header-nav container">
        <a class="site-header-logo-link" href="/">
            <h1 class="site-header-title">
                <img width="24px" src="/assets/img/logo.png">GetThatJob
            </h1>
        </a>
        <div class="site-header-nav-links-wrapper">
            <ul class="inline-nav">
                <li class="inline-nav-item"><a class="site-header-link" href="/help">Help</a></li>
                <li class="inline-nav-item"><a class="site-header-link" href="/companies">Companies</a></li>
                <li class="inline-nav-item"><a class="site-header-link" href="/jobs">Jobs</a></li>
            </ul>
            <ul class="inline-nav site-header__actions">
                <li class="inline-nav-item"><a class="btn btn--dark--outlined" href="/login">Sign In</a></li>
                <li class="inline-nav-item"><a class="btn btn--purple--outlined" href="/signup">Create An
                        Account</a></li>
            </ul>
        </div>
    </nav>
</header>