<header class="site-header">
    <nav class="site-header-nav container">
        <a class="site-header-logo-link" href="/">
            <h1 class="site-header-title">
                <img width="24px" src="/assets/img/logo.png">GetThatJob
            </h1>
        </a>
        <a id="menu-toggler" href="#" aria-role="button" class="menu-toggler">
            <span class="menu-toggler-desc">Menu</span>
        </a>
        <div id="header-menu" class="site-header-nav-menu">
            <ul class="inline-nav site-header__links">
                <li class="inline-nav-item"><a class="site-header-link" href="/help">Help</a></li>
                <li class="inline-nav-item"><a class="site-header-link" href="/companies">Companies</a></li>
                <li class="inline-nav-item"><a class="site-header-link" href="/jobs">Jobs</a></li>
            </ul>
            <ul class="inline-nav site-header__actions">
                <li class="inline-nav-item"><a class="btn btn--dark--outlined" href="/login">Sign In</a></li>
                <li class="inline-nav-item"><a class="btn btn--purple--outlined" href="/signup">Create An
                        Account</a></li>
            </ul>
        </div>
    </nav>
</header>