<div class="container container--pt">
<h1 class="faq-title">FAQs</h1>
<dl>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
<dt>
    <h2 class="faq-question">Do you sell my data?</h2>
</dt>
<dd class="faq-answer">We cannot give you an answer about that. Nonetheless, what we can tell you is that, if we were selling your data, we wouldn’t tell you.</dd>
</dl>
</div>