<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/forgotpage.css" />
  </head>
  <body>
    <main>
      <h1 class="forgot-title">Forgot Password</h1>
      <form class="forgot-form">
        <label class="forgot-label" for="email">Email</label>
        <input
          class="forgot-input"
          type="email"
          name="email"
          id="email"
          placeholder="youremail@email.com"
          required
        />

        <a href="/views/recoverysendpage.html" class="forgot-button"
          >Send recovery email</a
        >
      </form>
    </main>
  </body>
</html>
