<div class="container container--hero">
    <section class="landing-hero">
        <h2 class="landing-hero-title">The place where
            you get that job</h2>
        <p class="landing-hero-text">With our Machine learning algorithm you will get that job
            in no time, We promise you! Just give us the money and we
            will take care of it.</p>
        <a href="/signup" class="btn btn--purple landing-hero__btn">Create your account now</a>
    </section>
    <img class="landing-hero-img" src="/assets/img/hero-img.png" alt="No more job seeking!">
</div>