<div class="container container--hero">
    <section class="landing-hero">
        <h2 class="landing-hero-title">The place where
            you get that job</h2>
        <p class="landing-hero-text">With our Machine learning algorithm you will get that job
            in no time, We promise you! Just give us the money and we
            will take care of it.</p>
        <a href="/signup" class="btn btn--purple landing-hero__btn">Create your account now</a>
    </section>
    <img class="landing-hero-img" src="/assets/img/hero-img.png" alt="No more job seeking!">
</div>

<section class="get-in-touch">
     <div class="get-in-touch-left-side">

     </div>
     <div class="get-in-touch-right-side">
        <form>
            <input class="g-input" type="email" id="femail" name="femail" placeholder="Your email"><br><br>
            <input class="g-input" type="text" id="fname" name="fname" placeholder="Name"><br><br>
            <textarea class="g-textarea" name="textarea" placeholder="Messages" ></textarea><br><br>
            <button type="submit" class="get-in-btn"><i class="fas fa-envelope fa-lg g-envelope"></i> Submit Message</button> 
        </form>
     </div>
     <div class="get-in-touch-left-side">
        <div class="g-top">
            <h5 class="g-contact">CONTACTS</h5>
            <h1 class="g-title">Get in Touch</h1>
            <h6 class="g-description">If you are not sure yet, shoot us a message!</h6>   
        </div>
        <div class="g-bottom">
            <h6 class="g-email-contact">hello@getthatjob.com</h6>
            <h6 class="g-address">Jose Galvez 692, 7th Floor. The Board</h6> 
        </div>
     </div>

</section>