<div class="container container--hero">
    <section class="landing-hero">
        <h2 class="landing-hero-title">The place where
            you get that job</h2>
        <p class="landing-hero-text">With our Machine learning algorithm you will get that job
            in no time, We promise you! Just give us the money and we
            will take care of it.</p>
        <a href="/signup" class="btn btn--purple landing-hero__btn">Create your account now</a>
    </section>
    <img class="landing-hero-img" src="/assets/img/hero-img.png" alt="No more job seeking!">
</div>

<section class="job-description">
  <div class="job-description-left-side">
    <h1 class="job-description-title">Find your next tech job </h1>
    <p class="description"> Our Machine learning algorithm is so good that it is even illegal in some countries. Join us 
    to use our barelly legal algorithm that is actually a group of interns that work on our basement.</p> 
    <p class="description"> We have a job for you, no matter your background or previous experience. Is sending random memes through
    chat your only skill? That is ok, we got you, our Rock Star Meme Curator role is here for you.</p>
   </div>
   <div class="job-description-right-side">
       <div class="job-description-box">
         <img class="able" src="/assets/img/able.svg" alt="Able">
         <div class="Software-Engineer">
              <span class="job-description-career">Software Engineer</span>
              <span class="job-description-country">Able - Lima <img class="flag" src="/assets/img/country.svg" alt="Peru"></span>
        </div>
         <div class="Money">
             <p class="today"><img src="/assets/img/dollar.svg" alt="Peru"> <img class="react" src="/assets/img/ReactJS.svg" alt="Peru">Today</p></div>
        </div>
        <div class="job-description-box">
         <img class="able" src="/assets/img/able.svg" alt="Able">
         <div class="Software-Engineer">
              <span class="job-description-career">Software Engineer</span>
              <span class="job-description-country">Able - Lima <img class="flag" src="/assets/img/country.svg" alt="Peru"></span>
        </div>
         <div class="Money">
         <p class="today"><img src="/assets/img/dollar.svg" alt="Peru"> <img class="react" src="/assets/img/ReactJS.svg" alt="Peru">Today</p></div>
        </div>
        <div class="job-description-box">
         <img class="able" src="/assets/img/able.svg" alt="Able">
         <div class="Software-Engineer">
              <span class="job-description-career">Software Engineer</span>
              <span class="job-description-country">Able - Lima  <img class="flag" src="/assets/img/country.svg" alt="Peru"></span>
        </div>
         <div class="Money">
         <p class="today"><img src="/assets/img/dollar.svg" alt="Peru"> <img class="react" src="/assets/img/ReactJS.svg" alt="Peru">Today</p></div>
        </div>
    </div>

</section>

<section class="testimonial-2">
         <div class="t-left-arrow"><i class="fas fa-long-arrow-alt-left fa-lg"></i></div>
         <div class="t-experience">
                   <img src="/assets/img/girl.svg" alt="girl">
                   <p class="t-title">"Amazing experience, I love it a lot. Thanks to the team I got that job, great!"</p>
                   <p class="t-author">Lassy Chester</p>
                   <p class="t-job">Art Director</p>
         </div>
         <div class="t-right-arrow"><i class="fas fa-long-arrow-alt-right fa-lg"></i></div>
</section>

<section class="get-in-touch">
      
        <div class="g-top">
            <h5 class="g-contact">CONTACTS</h5>
            <h1 class="g-title">Get in Touch</h1>
            <h6 class="g-description">If you are not sure yet, shoot us a message!</h6>   
        </div>
        <div class="get-in-touch-right-side">
        <form>
            <input class="g-input" type="email" id="femail" name="femail" placeholder="Your email"><br><br>
            <input class="g-input" type="text" id="fname" name="fname" placeholder="Name"><br><br>
            <textarea class="g-textarea" name="textarea" placeholder="Messages" ></textarea><br><br>
            <button type="submit" class="get-in-btn"><i class="fas fa-envelope fa-lg g-envelope"></i> Submit Message</button> 
        </form>
     </div>
        <div class="g-bottom">
            <h6 class="g-email-contact">hello@getthatjob.com</h6>
            <h6 class="g-address">Jose Galvez 692, 7th Floor. The Board</h6> 
        </div>
     
     

</section>
<%= erb :"components/footer" %>
