<div class="container container--job-details">
    <div class="job-details-company-card">
        <div class="job-details-company-info">
            <div class="job-details-logo">
                <img class="job-details-logo-img" src="/assets/img/ablelogo.png" alt="Able Logo">
                <p class="job-details-logo-name">
                    Able.co
                </p>
            </div>
            <ul class="job-details-company-data">
                <!-- yeah I know, putting them on a font would save bandwidth -->
                <li><svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9 1.58331C6.0975 1.58331 3.75 4.06123 3.75 7.12498C3.75 11.2812 9 17.4166 9 17.4166C9 17.4166 14.25 11.2812 14.25 7.12498C14.25 4.06123 11.9025 1.58331 9 1.58331ZM9 9.10415C7.965 9.10415 7.125 8.21748 7.125 7.12498C7.125 6.03248 7.965 5.14581 9 5.14581C10.035 5.14581 10.875 6.03248 10.875 7.12498C10.875 8.21748 10.035 9.10415 9 9.10415Z"
                            fill="#262626" />
                    </svg>
                    Lima, Peru</li>
                <li><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M14.25 14.25H3.75V3.75H9V2.25H3.75C2.9175 2.25 2.25 2.925 2.25 3.75V14.25C2.25 15.075 2.9175 15.75 3.75 15.75H14.25C15.075 15.75 15.75 15.075 15.75 14.25V9H14.25V14.25ZM10.5 2.25V3.75H13.1925L5.82 11.1225L6.8775 12.18L14.25 4.8075V7.5H15.75V2.25H10.5Z"
                            fill="#262626" />
                    </svg>
                    <a class="job-details-company-website" href="#">Open Website</a></li>
                <li>Posted 10 Jobs</li>
            </ul>
        </div>
        <a class="btn btn--purple btn--purple--flat job-details__btn" href="#">Get this job</a>
        <hr class="job-details-card-divider">
        <a class="job-details-company-jobs-link" href="#">View All Jobs<svg width="24" height="24" viewBox="0 0 24 24"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.67266 16.3256L15.4383 12.1537C15.5414 12.0787 15.5414 11.9264 15.4383 11.8514L9.67266 7.6795C9.54844 7.59043 9.375 7.6795 9.375 7.83184V8.93106C9.375 9.17013 9.48984 9.39747 9.68438 9.5381L13.0922 12.0014L9.68438 14.467C9.48984 14.6076 9.375 14.8326 9.375 15.0741V16.1733C9.375 16.3256 9.54844 16.4147 9.67266 16.3256Z"
                    fill="black" />
                <path
                    d="M20.625 2.625H3.375C2.96016 2.625 2.625 2.96016 2.625 3.375V20.625C2.625 21.0398 2.96016 21.375 3.375 21.375H20.625C21.0398 21.375 21.375 21.0398 21.375 20.625V3.375C21.375 2.96016 21.0398 2.625 20.625 2.625ZM19.6875 19.6875H4.3125V4.3125H19.6875V19.6875Z"
                    fill="black" />
            </svg>
        </a>
    </div>
    <article class="job-details">
        <header>
            <a class="job-details-back-link" href="/jobs"><svg width="16" height="14" viewBox="0 0 16 14" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#backlink"></use>
                </svg>See more jobs</a>
            <time class="job-details-time" datetime="2020-02-24">Posted Feb 24</time>
            <h1 class="job-details-title">
                Software Engineer
            </h1>
            <ul class="job-details-tags">
                <li class="job-details-tags-item">ReactJs</li>
                <li class="job-details-tags-item">JS</li>
                <li class="job-details-tags-item">Ruby</li>
                <li class="job-details-tags-item">Ruby on Rails</li>
                <li class="job-details-tags-item">Buzz word</li>
            </ul>
        </header>
        <div class="job-details-description">
            <p>
                Able is seeking a Full-Stack Software Engineer. You will work on a variety of challenging, creative and
                innovative products that are part of our rapidly growing portfolio. Your experience will serve as a
                foundation for your growth at our company and we expect that you will keep developing your existing
                skills
                by growing your knowledge in areas you had never envisioned before.
            </p>
            <h2>What will be expected of you:</h2>
            <ul>
                <li>Build server-side applications as well as RESTful APIs with Ruby and Rails</li>
                <li>Build client-side applications with React, Redux, HTML5 and CSS3/SASS</li>
                <li>Collaborate with a super talented team of Engineers</li>
                <li>Develop and exercise your understanding of UX & UI design best practices</li>
                <li>Use the test-driven development paradigm</li>
                <li>Build server-side applications as well as RESTful APIs with Ruby and Rails</li>
                <h2>What we are looking for:</h2>
                <ul>
                    <li>You have a passion for collaborative problem solving and the willingness to challenge, debate
                        and
                        form relationships with team members</li>
                    <li>You know what you don’t know, you have no problem admitting it, and you’re eager to do whatever
                        it
                        takes to address that gap</li>
                    <li>You have a desire to improve Able’s product development practices and the experience to
                        follow-through on implementation</li>
                </ul>
                <h2>What we are looking for:</h2>
                <ul>
                    <li>2+ years professional experience as a software engineer or equivalent</li>
                    <li>Thorough and up-to-date knowledge of JavaScript and/or Ruby/Rails</li>
                    <li>Understanding of MVC architectures and databases such as PostgreSQL and Redis</li>
                    <li>Sufficient HTML and CSS skills to be able to work with designers to transform prototypes</li>
                    <li>Experience building modern, responsive and interactive web applications using frameworks such as
                        React</li>
                    <li>Professional proficiency in written and spoken English</li>
                </ul>
                <h2>About Able:</h2>
                <p>Able builds technology products in a portfolio model. We believe that people, teams, and processes
                    are
                    more important than the ideas themselves, so we’ve focused on bringing great people together, and
                    investing in their growth.</p>
                <p>We’ve built products in a variety of industries. Everything from media to finance to toys to
                    healthcare.
                    Sometimes we work with management teams to help their businesses grow faster or unlock value using
                    technology. Other times we start or buy businesses outright. Each time, we look for opportunities to
                    leverage technology built at the portfolio-level to drive value faster.</p>
                <p>We believe that a diverse team brings extraordinary success and we have created a work environment
                    geared towards work/life balance and happiness. Able is committed to inclusion and diversity and is
                    an
                    equal opportunity employer. All applicants will receive consideration without regard to race, color,
                    religion, gender, gender identity, sexual orientation, national origin, disability, or veteran
                    status.</p>
            </ul>
        </div>
        <footer class="job-details-footer">
            <a class="btn btn--purple btn--purple--flat job-details__btn" href="#">Get this job</a>
            <div class="job-details-footer-share"><span>Share this job:</span>
                <a href="#"><svg width="24" height="24" viewBox="0 0 24 24">
                        <use xlink:href="#facebook"></use>
                    </svg></a>
                <a href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#linkedin"></use>
                    </svg></a>
                <a href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
            </div>
        </footer>
    </article>

    <svg width="0" height="0" fill="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <!-- Facebook -->
            <path id="facebook"
                d="M20.625 2.625H3.375C2.96016 2.625 2.625 2.96016 2.625 3.375V20.625C2.625 21.0398 2.96016 21.375 3.375 21.375H20.625C21.0398 21.375 21.375 21.0398 21.375 20.625V3.375C21.375 2.96016 21.0398 2.625 20.625 2.625ZM18.4594 8.09766H16.9617C15.7875 8.09766 15.5602 8.65547 15.5602 9.47578V11.2828H18.3633L17.9977 14.1117H15.5602V21.375H12.6375V14.1141H10.193V11.2828H12.6375V9.19687C12.6375 6.77578 14.1164 5.45625 16.2773 5.45625C17.3133 5.45625 18.2016 5.53359 18.4617 5.56875V8.09766H18.4594Z"
                fill="#262626" />
            <!-- linked-in -->
            <path id="linkedin"
                d="M20.625 2.625H3.375C2.96016 2.625 2.625 2.96016 2.625 3.375V20.625C2.625 21.0398 2.96016 21.375 3.375 21.375H20.625C21.0398 21.375 21.375 21.0398 21.375 20.625V3.375C21.375 2.96016 21.0398 2.625 20.625 2.625ZM8.18672 18.6023H5.40469V9.65391H8.18672V18.6023ZM6.79688 8.43047C6.47795 8.43047 6.16619 8.3359 5.90102 8.15871C5.63584 7.98153 5.42917 7.72969 5.30712 7.43505C5.18507 7.1404 5.15314 6.81618 5.21536 6.50339C5.27758 6.19059 5.43115 5.90327 5.65667 5.67776C5.88218 5.45225 6.1695 5.29867 6.48229 5.23645C6.79509 5.17423 7.11931 5.20617 7.41395 5.32821C7.7086 5.45026 7.96044 5.65694 8.13762 5.92211C8.3148 6.18729 8.40937 6.49905 8.40937 6.81797C8.40703 7.70859 7.68516 8.43047 6.79688 8.43047ZM18.6023 18.6023H15.8227V14.25C15.8227 13.2117 15.8039 11.8781 14.3766 11.8781C12.9305 11.8781 12.7078 13.0078 12.7078 14.175V18.6023H9.93047V9.65391H12.5977V10.8773H12.6352C13.0055 10.1742 13.9125 9.43125 15.2672 9.43125C18.0844 9.43125 18.6023 11.2852 18.6023 13.6945V18.6023Z"
                fill="#262626" />
            <!-- twitter -->
            <path id="twitter"
                d="M21.7501 5.96029C21.0329 6.26966 20.2524 6.49232 19.4485 6.57904C20.2832 6.08318 20.9082 5.29982 21.2063 4.37591C20.4231 4.84183 19.5651 5.16853 18.6704 5.34154C18.2965 4.94176 17.8442 4.62327 17.3417 4.40593C16.8393 4.18859 16.2975 4.07705 15.7501 4.07826C13.5353 4.07826 11.754 5.87357 11.754 8.07669C11.754 8.38607 11.7915 8.69544 11.8524 8.9931C8.53604 8.81966 5.57823 7.23529 3.61182 4.80951C3.25352 5.4215 3.06576 6.11832 3.06807 6.82748C3.06807 8.21498 3.77354 9.43841 4.84932 10.1579C4.21535 10.133 3.59622 9.95872 3.04229 9.64935V9.69857C3.04229 11.6415 4.41573 13.2517 6.24619 13.622C5.9025 13.7113 5.54895 13.757 5.19385 13.7579C4.93369 13.7579 4.6876 13.7322 4.43916 13.697C4.94541 15.2814 6.41963 16.4322 8.1751 16.4697C6.80166 17.5454 5.08135 18.1783 3.21338 18.1783C2.87823 18.1783 2.56885 18.1665 2.24776 18.129C4.01963 19.2658 6.12198 19.922 8.38604 19.922C15.736 19.922 19.7579 13.8329 19.7579 8.54779C19.7579 8.37435 19.7579 8.20091 19.7462 8.02748C20.5243 7.45794 21.2063 6.75248 21.7501 5.96029Z"
                fill="#262626" />

            <!-- arrow-left  -->
            <path id="backlink"
                d="M15.0314 6.25781H3.60363L10.4435 0.320312C10.5529 0.224609 10.4864 0.046875 10.3419 0.046875H8.6134C8.53723 0.046875 8.46496 0.0742186 8.40832 0.123047L1.02746 6.52734C0.959861 6.58594 0.905646 6.65838 0.86849 6.73976C0.831333 6.82114 0.812103 6.90956 0.812103 6.99902C0.812103 7.08849 0.831333 7.1769 0.86849 7.25828C0.905646 7.33966 0.959861 7.41211 1.02746 7.4707L8.45129 13.9141C8.48058 13.9395 8.51574 13.9531 8.55285 13.9531H10.34C10.4845 13.9531 10.5509 13.7734 10.4415 13.6797L3.60363 7.74219H15.0314C15.1173 7.74219 15.1876 7.67188 15.1876 7.58594V6.41406C15.1876 6.32812 15.1173 6.25781 15.0314 6.25781Z"
                fill="#3C2DFF" />

            <path
                d="M9.67266 16.3256L15.4383 12.1537C15.5414 12.0787 15.5414 11.9264 15.4383 11.8514L9.67266 7.6795C9.54844 7.59043 9.375 7.6795 9.375 7.83184V8.93106C9.375 9.17013 9.48984 9.39747 9.68438 9.5381L13.0922 12.0014L9.68438 14.467C9.48984 14.6076 9.375 14.8326 9.375 15.0741V16.1733C9.375 16.3256 9.54844 16.4147 9.67266 16.3256Z"
                id="chevron-right" fill="black" />

        </defs>
    </svg>
</div>