<section class="job-listing">
<h1 class="j-title">Jobs for you</h1>
<div class="job-filters">
      <div class="jf-left-side">
           <input class="j-input" type="text" id="fname" name="fname" placeholder="Find that job!">
           <div class="j-dropdown">
                  <div class="job-filter">Country
                       <i class="fas fa-angle-down fa-lg icon-filter-default"></i>       
                   </div>
                  <div class="dropdown-content">
                       <ul class="j-list">
                           <li><a href="#">Peru</a></li>
                           <li><a href="#">Argentina</a></li>
                           <li><a href="#">Mexico</a></li>
                         </ul> 
                    </div> 
           </div>
           <div class="j-dropdown">
                  <div class="job-filter">Type
                       <i class="fas fa-angle-down fa-lg icon-filter-default"></i>       
                   </div>
                  <div class="dropdown-content">
                       <ul class="j-list">
                           <li><a href="#">Peru</a></li>
                           <li><a href="#">Argentina</a></li>
                           <li><a href="#">Mexico</a></li>
                         </ul> 
                    </div> 
           </div>
           <div class="j-dropdown">
                  <div class="job-filter">Salary Range
                       <i class="fas fa-angle-down fa-lg icon-filter-default"></i>       
                   </div>
                  <div class="dropdown-content">
                       <ul class="j-list">
                           <li><a href="#">Peru</a></li>
                           <li><a href="#">Argentina</a></li>
                           <li><a href="#">Mexico</a></li>
                         </ul> 
                    </div> 
           </div>
           <div class="j-dropdown">
                  <div class="job-filter">More
                       <i class="fas fa-angle-down fa-lg icon-filter-default"></i>       
                   </div>
                  <div class="dropdown-content">
                       <ul class="j-list">
                           <li><a href="#">Peru</a></li>
                           <li><a href="#">Argentina</a></li>
                           <li><a href="#">Mexico</a></li>
                         </ul> 
                    </div> 
           </div>
           
      </div>
      <div class="job-filter-2">
      <input class="j-input-2" type="text" id="fname" name="fname" placeholder="Find that job!"> 
                <div class="j-dropdown">
                  <div class="jr-dropdown">Recommended
                                <i class="fas fa-angle-down fa-lg icon-filter-default-2"></i>       
                  </div>
                <div class="dropdown-content">
                        <ul class="j-list">
                                 <li><a href="#">Newest</a></li>
                                 <li><a href="#">Highest Salary</a></li>
                                 <li><a href="#">Lowest Salary</a></li>
                         </ul> 
                 </div> 
                 </div>
                    
      </div>
      
      </div>
       
       
</div>

<div class="j-announces">
       <a href="/jobdetails" class="job-box">
              <img class="able" src="/assets/img/able.svg" alt="Able">
              <div class="Job-Software-Engineer">
                    <span class="job-career">Software Engineer <img class="new" src="/assets/img/new.svg" alt="Peru"></span>
                    <span class="job-country">Able - Lima  <img class="flag-2" src="/assets/img/country.svg" alt="Peru"></span>
              </div>
              <div class="J-Money">
                    <p class="today-2"><img class="j-dollar" src="/assets/img/dollar.svg" alt="Peru"> <img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru"><img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru">Today</p>
              </div>
       </a>
       <a href="/jobdetails" class="job-box">
              <img class="able" src="/assets/img/able.svg" alt="Able">
              <div class="Job-Software-Engineer">
                    <span class="job-career">Software Engineer <img class="new" src="/assets/img/new.svg" alt="Peru"></span>
                    <span class="job-country">Able - Lima  <img class="flag-2" src="/assets/img/country.svg" alt="Peru"></span>
              </div>
              <div class="J-Money">
                    <p class="today-2"><img class="j-dollar" src="/assets/img/dollar.svg" alt="Peru"> <img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru"><img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru">Today</p>
              </div>
       </a>
       <a href="/jobdetails" class="job-box">
              <img class="able" src="/assets/img/able.svg" alt="Able">
              <div class="Job-Software-Engineer">
                    <span class="job-career">Software Engineer <img class="new" src="/assets/img/new.svg" alt="Peru"></span>
                    <span class="job-country">Able - Lima  <img class="flag-2" src="/assets/img/country.svg" alt="Peru"></span>
              </div>
              <div class="J-Money">
                    <p class="today-2"><img class="j-dollar" src="/assets/img/dollar.svg" alt="Peru"> <img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru"><img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru">Today</p>
              </div>
       </a>
       <a href="/jobdetails" class="job-box">
              <img class="able" src="/assets/img/able.svg" alt="Able">
              <div class="Job-Software-Engineer">
                    <span class="job-career">Software Engineer <img class="new" src="/assets/img/new.svg" alt="Peru"></span>
                    <span class="job-country">Able - Lima  <img class="flag-2" src="/assets/img/country.svg" alt="Peru"></span>
              </div>
              <div class="J-Money">
                    <p class="today-2"><img class="j-dollar" src="/assets/img/dollar.svg" alt="Peru"> <img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru"><img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru">Today</p>
              </div>
       </a>
       <a href="/jobdetails" class="job-box">
              <img class="able" src="/assets/img/able.svg" alt="Able">
              <div class="Job-Software-Engineer">
                    <span class="job-career">Software Engineer <img class="new" src="/assets/img/new.svg" alt="Peru"></span>
                    <span class="job-country">Able - Lima  <img class="flag-2" src="/assets/img/country.svg" alt="Peru"></span>
              </div>
              <div class="J-Money">
                    <p class="today-2"><img class="j-dollar" src="/assets/img/dollar.svg" alt="Peru"> <img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru"><img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru">Today</p>
              </div>
       </a>
       <a href="/jobdetails" class="job-box">
              <img class="able" src="/assets/img/able.svg" alt="Able">
              <div class="Job-Software-Engineer">
                    <span class="job-career">Software Engineer <img class="new" src="/assets/img/new.svg" alt="Peru"></span>
                    <span class="job-country">Able - Lima  <img class="flag-2" src="/assets/img/country.svg" alt="Peru"></span>
              </div>
              <div class="J-Money">
                    <p class="today-2"><img class="j-dollar" src="/assets/img/dollar.svg" alt="Peru"> <img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru"><img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru">Today</p>
              </div>
       </a>
       <a href="/jobdetails" class="job-box">
              <img class="able" src="/assets/img/able.svg" alt="Able">
              <div class="Job-Software-Engineer">
                    <span class="job-career">Software Engineer <img class="new" src="/assets/img/new.svg" alt="Peru"></span>
                    <span class="job-country">Able - Lima  <img class="flag-2" src="/assets/img/country.svg" alt="Peru"></span>
              </div>
              <div class="J-Money">
                    <p class="today-2"><img class="j-dollar" src="/assets/img/dollar.svg" alt="Peru"> <img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru"><img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru">Today</p>
              </div>
       </a>
       <a href="/jobdetails" class="job-box">
              <img class="able" src="/assets/img/able.svg" alt="Able">
              <div class="Job-Software-Engineer">
                    <span class="job-career">Software Engineer <img class="new" src="/assets/img/new.svg" alt="Peru"></span>
                    <span class="job-country">Able - Lima  <img class="flag-2" src="/assets/img/country.svg" alt="Peru"></span>
              </div>
              <div class="J-Money">
                    <p class="today-2"><img class="j-dollar" src="/assets/img/dollar.svg" alt="Peru"> <img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru"><img class="react-2" src="/assets/img/ReactJS.svg" alt="Peru">Today</p>
              </div>
       </a>
</div>
<button class="job-load">Load More</button>

</section>