<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= "#{title} | GetThatJob" %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/528c41e6c1.js" crossorigin="anonymous" async defer></script>
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
<%= erb :"components/header" %>
<%= yield %>
<script>
    window.onload = () => {
      const dget = document.getElementById.bind(document);
      const toggledClass = 'site-header-nav-menu--toggled';
      const toggler = dget("menu-toggler");
      toggler.onclick = function () {
        const header = dget("header-menu");
        header.classList.toggle(toggledClass)
        toggler.classList.toggle('menu-toggler--active')
      }
    }
  </script>
</body>