<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/loginpage.css" />
  </head>
  <body>
    <main>
      <h1 class="login-title">Login</h1>
      <form class="login-form">
        <label class="login-label" for="email">Email</label>
        <input
          class="login-input"
          type="email"
          name="email"
          id="email"
          placeholder="youremail@email.com"
          required
        />

        <label class="login-label" for="pass">Password</label>
        <input
          class="login-input"
          type="password"
          name="pass"
          id="pass"
          placeholder="*******"
          maxlength="7"
          required
        />

        <a href="#" class="login-button">Submit</a>
        <a href="/views/forgotpage.html" class="login-forgot"
          ><p>Forgot password?</p></a
        >
      </form>
    </main>
  </body>
</html>
