<main>
  <h1 class="forgot-title">Forgot Password</h1>
  <form class="forgot-form">
    <label class="forgot-label" for="email">Email</label>
    <input class="forgot-input" type="email" name="email" id="email" placeholder="youremail@email.com" required />

    <a href="/password-recovery-sent" class="forgot-button">Send recovery email</a>
  </form>
</main>