<main class="content-main">
  <h1 class="recovery-title">Recovery email sent!</h1>
  <p class="recovery-subtitle">
    You should receive instructions to reset your password in your email
  </p>
</main>