<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot password success</title>
    <link
      href="https://fonts.googleapis.com/css?family=Nunito&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/recoverysendpage.css" />
  </head>
  <body>
    <main>
      <h1 class="recovery-title">Recovery email sent!</h1>
      <p class="recovery-subtitle">
        You should receive instructutions to reset your password in your email
      </p>
    </main>
  </body>
</html>
