<main class="content-main">
  <h1 class="singup-title">Sign Up</h1>
  <form class="singup-form">
    <label class="singup-label" for="email">Email</label>
    <input class="singup-input" type="email" name="email" id="email" placeholder="youremail@email.com" required />

    <label class="singup-label" for="pass">Password</label>
    <input class="singup-input" type="password" name="pass" id="pass" placeholder="*******" maxlength="7" required />

    <label class="singup-label" for="recover-pass">Confirm password</label>
    <input class="singup-input" type="password" name="recover-pass" id="pass" placeholder="*******" maxlength="7"
      required />

    <a href="/signup-complete" class="singup-button">Submit</a>
    <a href="/login" class="singup-forgot">
      <p>Sign in</p>
    </a>
  </form>
</main>