.job-description {
    background-color: #3c2dff;
    display: grid;
    grid-template-columns: 1fr 35% 35% 1fr;
    padding-top: 3%;
    padding-bottom: 3%;
}
.job-description-left-side {
    grid-column-start: 2;
    place-self: center;
}
.job-description-right-side {
    grid-column-start: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
.description {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
}
.job-description-title {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
}
.job-description-box {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 17% 40% 43%;
    padding: 15px;
    max-width: 95%;
    min-width: 90%;
    box-sizing: border-box;
}
.able {
    grid-column-start: 1;
    place-self: center;
}
.Money {
    grid-column-start: 3;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #718096;
}
.today {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.react {
    padding: 5px 7px;
    background: rgba(60, 45, 255, 0.69);
}
.job-description-career {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #4a5568;
}
.job-description-country {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    display: flex;
    flex-direction: row;
}
.flag {
    margin-left: 5%;
}
@media only screen and (max-device-width: 768px) {
    .job-description {
        background-color: #3c2dff;
        display: flex;
        flex-direction: column;
    }
    .job-description-box {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-bottom: 5%;
        justify-content: space-around;
    }
    .description {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #ffffff;
        width: 80%;
    }
    .job-description-left-side {
        grid-column-start: 2;
        place-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .job-description-title {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 49px;
        color: #ffffff;
        text-align: center;
    }
    .job-description-career {
        font-family: "Nunito", sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #4a5568;
    }
    .able {
        grid-column-start: 1;
        place-self: center;
        width: 20px;
        height: 20px;
        margin-right: 5%;
    }
    .job-description-right-side {
        grid-column-start: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .job-description-country {
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        font-size: 10px;
        color: #000000;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .flag {
        width: 10px;
        height: 10px;
        margin-left: 0.5em;
    }
    .today {
        font-size: 12px;
        align-items: center;
    }
    .react {
        height: 10px;
        width: 30px;
        background: rgba(60, 45, 255, 0.69);
    }
    .Money {
        width: 40%;
        justify-self: flex-end;
    }
}
