.login-title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.login-form {
  margin: auto;
  max-width: 256px;
}

.login-label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.login-input {
  width: 100%;
  padding: 14px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 0 5px 0;
  font-size: 15px;
}

.login-button {
  display: inline-block;
  background: #3c2dff;
  border-radius: 4px;
  width: 100%;
  color: #e5e5e5;
  text-decoration: none;
  text-align: center;
  padding: 14px;
  margin-top: 5px;
  font-size: 15px;
  box-sizing: border-box;
}

.login-forgot {
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #3c2dff;
}
