.content-main {
  margin-top: 100px;
}

.recovery-title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.recovery-subtitle {
  text-align: center;
  font-size: 16px;
}
