html {
  box-sizing: border-box;
  font-size: 62.5%;
  /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #e5e5e5;
}

.content-main {
  margin-top: 100px;
}

.recovery-title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

.recovery-subtitle {
  text-align: center;
  font-size: 16px;
}
